﻿@{
    Layout = null;
}
<!doctype html>
<html lang="en" style="overflow-x: hidden;">
<!--
Use below html tag for RTL version
<html lang="en" dir="rtl" direction="rtl" style="direction: rtl">
-->
<head>
    <meta charset="utf-8">
    <title>Finance - Uniplan</title>
    <base href="~/scripts/client/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/scripts/client/assets//media//logos//favicon01.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700" rel="stylesheet">
    <!-- Splash Screen | Appears during application initialization proccess -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #splash-screen {
            position: absolute;
            z-index: 1000;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #f2f3f8;
        }

            #splash-screen img {
                margin-left: calc(100vw - 100%);
                margin-bottom: 30px;
            }

            #splash-screen.hidden {
                opacity: 0;
                visibility: hidden;
            }

        .splash-spinner {
            animation: rotate 2s linear infinite;
            margin-left: calc(100vw - 100%);
            width: 50px;
            height: 50px;
        }

            .splash-spinner .path {
                stroke: #5d78ff;
                stroke-linecap: round;
                animation: dash 1.5s ease-in-out infinite;
            }

        @@keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @@keyframes dash {
            0% {
                stroke-dasharray: 1, 150;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -35;
            }

            100% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -124;
            }
        }
    </style>
    <link rel="stylesheet" href="~/scripts/client/styles.css">
</head>

<body root="" id="kt_body" style="overflow-x: hidden;">
    <div id="splash-screen">
        <img src="~/scripts/client/assets/media/logos/logo-dark.png" alt="Metronic logo" />
        <svg class="splash-spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
    </div>
     <script src="~/scripts/client/runtime.js" type="module"></script>
     <script src="~/scripts/client/polyfills.js" type="module"></script>
     <script src="~/scripts/client/scripts.js" defer></script>
     <script src="~/scripts/client/vendor.js" type="module"></script>
     <script src="~/scripts/client/main.js" type="module"></script>
    <!--<script src="~/scripts/client/runtime-es2015.js" type="module"></script>
    <script src="~/scripts/client/runtime-es5.js" nomodule defer></script>
    <script src="~/scripts/client/polyfills-es5.js" nomodule defer></script>
    <script src="~/scripts/client/polyfills-es2015.js" type="module"></script>
    <script src="~/scripts/client/scripts.js" defer></script>
    <script src="~/scripts/client/vendor-es2015.js" type="module"></script>
    <script src="~/scripts/client/vendor-es5.js" nomodule defer></script>
    <script src="~/scripts/client/main-es2015.js" type="module"></script>
    <script src="~/scripts/client/main-es5.js" nomodule defer></script>-->
</body>

</html>
